---
title: Gabe Finch
---
<div class="welcome">
  <h1>Gabe Finch</h1>
  <div class="doc">
    <p>= {</p>
    <p>&nbsp;resumeLink: <%= link_to '/resume/', 'http://gabefinch.github.io/resume' %>,</p>
    <p>&nbsp;email: <%= link_to 'gabefinch@gmail.com', 'mailto:gabefinch@gmail.com' %>,</p>
    <p>&nbsp;location: { city: 'Portland', state: 'Oregon'},</p>
    <p>&nbsp;linkedIn: <%= link_to 'linkedin.com/in/gabefinch/', 'http://linkedin.com/in/gabefinch' %>,</p>
    <p>&nbsp;sampleProjects: [</p>
    <p>&nbsp;&nbsp;{</p>
    <p>&nbsp;&nbsp;&nbsp;name: "Forty Forty 100" ,</p>
    <p>&nbsp;&nbsp;&nbsp;description: "Hack Oregon project presenting data about graduation rates. Helped integrate data visualizations and build the front-end",</p>
    <p>&nbsp;&nbsp;&nbsp;link: <%= link_to 'fortyforty100.hackoregon.org/', 'http://fortyforty100.hackoregon.org/' %></p>
    <p>&nbsp;&nbsp;},</p>
    <p>&nbsp;&nbsp;{</p>
    <p>&nbsp;&nbsp;&nbsp;name: "Maze" ,</p>
    <p>&nbsp;&nbsp;&nbsp;description: "Maze navigation game built for Web 1.0 Conf",</p>
    <p>&nbsp;&nbsp;&nbsp;link:<%= link_to 'gabefinch.neocities.org', 'http://gabefinch.neocities.org' %></p>
    <p>&nbsp;&nbsp;}</p>
    <p>&nbsp;],</p>
    <p>&nbsp;tweetage: <%= link_to 'twitter.com/grapefinch', "https://twitter.com/grapefinch" %>,</p>
    <p>};</p>
  </div>

  <% (1..5).each do |num| %>
      <div class=" circle number<%= num %>"></div>
  <% end %>
  <div id="face-wrapper">
    <img id="face" src="images/gabe.png">
  </div>
</div>
