---
title: Gabe Finch
---

<div class="welcome">
  <h1>Gabriel S. Finch</h1>
  <p class="doc">
    <%= link_to 'twitter', "https://twitter.com/grapefinch" %>
    <%= link_to 'codepen', 'http://codepen.io/gabefinch/' %>
    <%= link_to 'linkedin', 'http://linkedin.com/in/gabefinch' %>
    <%= link_to 'resume', 'http://gabefinch.github.io/resume' %>
    <%= link_to 'github', 'https://github.com/gabefinch' %>

  </p>

  <img src= <%= lorem.image('300X400') %> >

</div>

<% (1..18).each do |num| %>
    <div class="number<%= num %>">
      <%= num %>
    </div>
<% end %>
