---
title: Gabe Finch
---

<div class="welcome">
  <h1>Gabe Finch</h1>
  <p class="doc">
    <%= link_to 'twitter', "https://twitter.com/grapefinch" %>
  </p>
  <p class="doc">
    <%= link_to 'codepen', 'http://codepen.io/gabefinch/' %>
  </p>
  <p class="doc">
    <%= link_to 'linkedin', 'http://linkedin.com/in/gabefinch' %>
  </p>
  <p class="doc">
    <%= link_to 'resume', 'http://gabefinch.github.io/resume' %>
  </p>
  <p class="doc">
    <%= link_to 'github', 'https://github.com/gabefinch' %>
  </p>
  <p class="doc">
    <%= link_to 'instagram', 'https://instagram.com/elifigbranch/' %>
  </p>

  <% (1..18).each do |num| %>
      <div class=" circle number<%= num %>"></div>
  <% end %>

  <img src="images/controls.jpg" scale="0.1"/>
</div>
